@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Broadway";
  src: local("broadway"),
    url("../fonts/broadway.gradient-3d-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Broadway2";
  src: local("broadway2"),
    url("../fonts/broadway.3d-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Broadway3";
  src: local("broadway3"),
    url("../fonts/broadway.regular.ttf") format("truetype");
}

@font-face {
  font-family: "Broadway4";
  src: local("broadway4"),
    url("../fonts/broadway.gradient-3d-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Antipasto";
  src: local("antipasto"),
    url("../fonts/antipasto.regular.ttf") format("opentype");

}

@font-face {
  font-family: "Oliver";
  src: local("oliver"),
    url("../fonts/oliver.a.ttf") format("opentype");

}

@font-face {
  font-family: "Gumela";
  src: local("Gumela"),
    url("../fonts/gumela-arabic-demo.light.ttf") format("opentype");

}

.custom-font {
  font-family: "Broadway4";
}

* {
  font-family: "Gumela";
}